.header-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0 15px 0 15px;
    background-color: #090A0E;
    z-index: 1;

    .signWrapper{
      margin-bottom: 30px;
      h1 {
        color: red;
      }
      p {
        font-weight: bold;
        font-size: 1.1rem;
        cursor: pointer;
      }
    }


    form {
      width: 450px;
      display: flex;
      justify-content: space-between;
      align-self: center;
      .filters-container {
        label {
          margin-right: 15px;
          font-weight: bold;
        }
    
        select {
          padding: 10px 5px;
          border: none;
          border-radius: 10px;
    
          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  @media(max-width: 1065px) {
    .header-wrapper {

      .signWrapper {
        margin-bottom: 10px;

        h1 {
          margin-bottom: 30px;
        }
      }

      form {
        width: 310px;

        .filters-container {
          display: flex;
          flex-direction: column;

          select {
            margin-top: 10px;
            text-align: center;
          }
        }
      }
    }
  }

  @media(max-width: 850px) {
    .header-wrapper {
      flex-wrap: wrap;

      .signWrapper {
        flex-basis: 100%;
      }

      form {
        width: 100%;
      }
    }
  }

  @media(max-width: 500px) {
    .header-wrapper {

      .signWrapper {
        h1 {
          margin-bottom: 20px;
        }
      }

      form {
        .filters-container {
          select {
            padding: 10px 1px;
          }
        }
      }
    }
  }

  @media(max-width: 450px) and (min-width: 0px) {
    .header-wrapper {

      .signWrapper {
        h1 {
          margin-top: 5px;
        }
      }

      form {
        .filters-container {
          label {
            display: none;
          }
    
          select {
            margin-top: -10px;
          }
        }
      }
    }
  }


  