.trailer-container {
    width: 100%;
    margin: 2rem 18% 3rem 18%;

    .trailer-header {
        text-align: left;
        font-size: 2.5rem;
        font-weight: bold;
        margin: 0 0 1rem 0;
    }

    .video-container {
        height: 600px;
        .trailer {
            width: 100%;
            height: 100%;
        }
    }
    
}

@media(max-width: 1910px) {
    .trailer-container {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media(max-width: 1700px) {
    .trailer-container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media(max-width: 1600px) {
    .trailer-container {
        .video-container {
            height: 550px;
        }
    }
}

@media(max-width: 1500px) {
    .trailer-container {
        margin-left: 4%;
        margin-right: 4%;
    }
}

@media(max-width: 1100px) {
    .trailer-container {
        .trailer-header {
            text-align: center;
        }
    }
}

@media(max-width: 1000px) {
    .trailer-container {
        .video-container {
            height: 450px;
        }
    }
}

@media(max-width: 800px) {
    .trailer-container {
        .video-container {
            height: 400px;
        }
    }
}

@media(max-width: 550px) {
    .trailer-container {
        .video-container {
            height: 300px;
        }
    }
}

@media(max-width: 420px) {
    .trailer-container {
        margin-top: 1rem;
        .trailer-header {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }

        .video-container {
            height: 200px;
        }
    }
}